* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Hanken Grotesk', sans-serif;
  align-items: center;
  height: 100vh;
}

p {
  font-size: 18px;
}


/* This is the container that contains all the elements */
.main-container {
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%);
  width: 700px;
  height: 500px;
  box-shadow: 10px 10px 30px hsl(221deg 100% 96%);
  border-radius: 2em;
  text-align: center;
}


/* This container contains all the content for the results on the left of the container */
.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 500px;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 2em;
}


/* This is to style the big overall score (76 of 100)  */
.score {
  color: hsl(0, 0%, 100%);
  font-size: 4em;
  font-weight: 800;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  width: 100px;
  padding: 45px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}


/* Gives padding to all the content inside the results-container */
.results-content {
  padding: 50px;
}


.of-100 {
  font-size: 18px;
  font-weight: 500;
  display: block;
  color: hsla(222, 100%, 96%, 0.283);
}

.your-result {
  color: hsla(222, 100%, 96%, 0.822);
  font-weight: 500;
  padding-bottom: 40px;
}

.great {
  color: hsl(0, 0%, 100%);
  font-weight: 550;
  font-size: 2em;
  margin-bottom: 20px;
}

.score-info {
  color: hsla(222, 100%, 96%, 0.667);
  padding-bottom: 10px;
}


/* This is the summary section (the right side of the main-container */
.summary-content {
  box-sizing: border-box;
  width: 45%;
  text-align: left;
  /* border: 5px solid gold; */
  padding-right: 30px;
  padding-top: 40px;
  color: rgb(0, 0, 0);
}

.summary-content h2 {
  padding-bottom: 20px;
}

.summary-content ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list-scores {
  list-style: none;
  text-align: left;
  width: inherit;
  padding: 15px;
  border-radius: 0.5em;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.075);
  color: hsl(0, 100%, 67%);
}

.memory {
  background-color: hsla(39, 100%, 56%, 0.075);
  color: hsl(39, 100%, 56%);
}

.verbal {
  background-color: hsla(166, 100%, 37%, 0.075);
  color: hsl(166, 100%, 37%);
}

.visual {
  background-color: hsla(234, 85%, 45%, 0.075);
  color: hsl(234, 85%, 45%);
}

.summary-score {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
  padding-right: 3px;
}

.summary-max-score {
  color: hsla(224, 30%, 27%, 0.422);
  font-weight: 700;
}

.summary-content li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-text-container span {
  line-height: 30px;
  padding-left: 3px;
}

.score-icon {
  position: relative;
  top: 4px;
}

/* button */
.continue {
  width: inherit;
  padding: 15px;
  margin-top: 20px;
  padding-right: 30px;
  border-radius: 2em;
  border-style: none;
  font-weight: 520;
  font-size: 0.9em;
  color: hsl(221, 100%, 96%);
  background-color: hsl(224, 30%, 27%);
}

.continue:hover {
  cursor: pointer;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

/* responsive */

@media (max-width: 800px) {
  .main-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    box-shadow: none;
  }

  .results-container {
    width: 100%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    font-size: small;
  }

  .summary-content {
    width: 100%;
    padding-left: 30px;
  }

  .summary-content h2 {
    margin-top: -10px;
  }

  body {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .continue {
    margin-bottom: 30px;
  }
}
